.App {
  text-align: center;
}

.BinaryRiskMatrix {
  display: flex;
  flex-direction: row;
  padding: 5vh 10vw 0vh 10vw;
}

.BinaryRiskMatrixForm {
  text-align: left;
  

}

.BinaryRiskMatrixForm-CheckboxBlock {
  padding: 0.5em 0vw 0.5em 0vw;
}

.BinaryRiskMatrixForm-Submit {
  text-align: center;
}

.BinaryRiskMatrixForm-SubmitButton {
  height: 2em;
  width: 6em;
  
}

.BinaryRiskMatrixResults {
  
}

.BinaryRiskMatrixResults-Measurement {

}