.App {
  text-align: center;
}

.BinaryRiskMatrix {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 5vh 10vw 0vh 10vw;
}

.BinaryRiskMatrixForm {
  text-align: left;
}

.BinaryRiskMatrixForm-Submit {
  text-align: center;
}

.BinaryRiskMatrixForm-SubmitButton {
  height: 2em;
  width: 6em;
}

.BinaryRiskMatrixResults {
  text-align: left;
}
